<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="guard.GlobalSnapshot.ZPM">
    <Module>
      <Name>guard.GlobalSnapshot</Name>
      <Version>1.0.0</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>iris</SourcesRoot>
      <Resource Name="guard.PKG"/>
    </Module>
  </Document>
</Export>
