.message {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    margin: 3px 0px;
}

.left {
    justify-content: flex-start;
}

.right {
    justify-content: flex-end;
}

.left .message-container {
    background-color: #ececec;
    border-radius: 5px;
    color: #1C1C1C;
}

.right .message-container {
    background-color: #579ffb;
    border-radius: 5px;
    color: #fff;
}

.message .message-container {
    justify-self: end;
    border-radius: 5px;
    min-width: 70px;
    max-width: 550px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.speaker-info {
    display: flex;
    justify-content: space-between;
}

.message p {
    margin: 10px;
    white-space: pre-wrap;
    word-break: break-word;
}
.timestamp p {
    font-size: 0.8em;
    line-height: 19px;
}
.content {
    font-size: 0.9em;
}